/*
 * Gaps
 */
.gap10 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
    clear: both;
}
.gap10 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
    clear: both;
}
.gap20 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
    clear: both;
}
.gap30 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 15px 0 15px 0;
    clear: both;
}
.gap40 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 20px 0 20px 0;
    clear: both;
}
.gap50 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 25px 0 25px 0;
    clear: both;
}
