
/*
 * Elements Sizes
 */
.width100 { width: 100%;}
.width75 { width: 75%; }
.width50 { width: 50%; }
.width25 { width: 25%; }
.max-width-100 { max-width: 100px; }
.max-width-150 { max-width: 150px; }
.max-width-200 { max-width: 200px; }
.max-width-250 { max-width: 250px; }
.max-width-300 { max-width: 300px; }

